@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.body{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-lista-produtos{
    height: 100vh;
   
}
.container-lista-produtos .header nav{
    background-color: black;
    color: white;
    max-width: 100%;
    height: 7rem;
}

.container-lista-produtos .header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-lista-produtos .header nav img{
    height: 6rem;
    width: 6rem;
    margin-left: 3rem;
}

.container-lista-produtos .header nav .itens a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

.container-lista-produtos .header nav .itens a+a+a+a{
    margin-right: 3rem;
}


.container-lista-produtos .tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    

}

.container-lista-produtos .tabela  h1{
    margin-bottom: 2rem;
}

.container-lista-produtos .tabela table{
    border-radius: 12px;
    border: 1px rgb(80, 80, 80) solid;

}

.container-lista-produtos .tabela td{
    width: 30rem;
    
    
}

.container-lista-produtos .tabela td a{
    color: black;
}

.container-lista-produtos .tabela td a:hover{
    color: purple;  
}

.container-lista-produtos .tabela table tr:first-child{
    background: black;
    color: white;
    font-size: 1.5rem;
}

.container-lista-produtos .tabela table tr:hover{
    background-color: lightgray;
}
.container-lista-produtos .tabela table td{
    height: 3rem;
    padding: 1rem;
}

