.body{
    max-width:100vw;
    display: flex;
    flex-direction: column;
    background-color: #E2D8F6;
}

.container-edita-produto textarea{
    resize: none
}
.container-edita-produto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E2D8F6;
    padding-bottom: 10rem;
}

.container-edita-produto .header nav{
    background-color: black;
    color: white;
    width: 98.7vw;
    height: 7rem;
}

.container-edita-produto .header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-edita-produto .header nav img{
    height: 6rem;
    width: 6rem;
    margin-left: 3rem;
}

.container-edita-produto .header nav .itens a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

.container-edita-produto .header nav .itens a+a+a+a{
    margin-right: 3rem;
}



.container-edita-produto .forms{
    
    height: 100vh;
    width: 90%;
    margin-right: 0;
    margin-left: 3rem;
    margin-right: 3rem;

}


.container-edita-produto .forms h1{
    color: black;
    display:flex;
    justify-content: center;
    font-size: 3.2rem;
    margin-top: 5rem;
}

.container-edita-produto .forms .content-forms{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.container-edita-produto .forms form .coluna_1{
    flex-direction: column;
    display: flex;
    width: 100%;
    margin-right:3rem ;
}

.container-edita-produto .forms form .coluna_2{
    flex-direction: column;
    width: 100%;
    display: flex;
}

.container-edita-produto .forms form input, .container-edita-produto .forms form select{
    margin-bottom: 2rem;
}

.container-edita-produto .forms form .btn-criar{
    background-color: black;
    color: white;
}

.container-edita-produto .forms form .btn-criar:hover{
    background-color: rgb(51, 50, 50);
}

.container-edita-produto .forms form select{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    border: 1.5px solid lightgray;
}

.container-edita-produto .forms form .links{
    display: flex;
    flex-direction: row;
}

.container-edita-produto .forms form .links input{
    width: 50%;
}
.container-edita-produto .forms form .links a{
    margin-top: 2rem;
    color: gray;
    display: flex;
    justify-content:center;
    font-weight: 0;
    font-size: 1.4rem;
}

.container-edita-produto .forms form input{
    border: 1.5px solid lightgray;
}
.container-edita-produto .forms form label{
    margin-top: 1rem;
}

.container-edita-produto .forms form img+input{
    width: 100%;
}
